@import "dashboard";
$prinary-color: #26baee;//B1B2FF99  //#003366 //00D4FF
$secoundary-color: #65A9A6;//AAC4FF //#71B1C5 //b3ff00f8
$dark-color: #D2DAFF;
$light-color: #EEF1FF;//#f6f5f7
$delete-color: #e12a3a;
$edit-color: #2ad1ff;
$update-color: #2ad11a;
$white-color: #ffffff;
$offwhite-color: #FAF9F6;

$black-color: #000000;
$offblack-color: #36454F;//#6c7a7d
$grey-color: #808080;
$border-dark: rgba($prinary-color, 0.88);
$theme_font_family :Cursive;
$theme_font :Lucida Handwriting;
$theme_root_font_size :62.5%;
$old-theme_header_color:#333333;
$old-theme_header_color_secoundary:#4F4F4F;
$bootstrapblue:#0D6EFD;
$footer-prinary-color:#100E1D;;
$footer-secoundary-color:#CCC;
$background-nice-white-color:#E8E8E8;//f6f5f7