@import "../theme";
.sidebar {
  height: 100rem;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $prinary-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2rem;

  color: $black-color;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: $white-color;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 0.3;
  cursor: pointer;
  background-color:#252a2b;
  color: $white-color;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:  $prinary-color;
  color: black;
}

#main {
  transition: margin-left .5s;
  padding: 0.1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}